.data-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

.data-table th,
.data-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.data-table th {
  background-color: black;
  color: white;
  text-align: center;
}

.data-table td {
  text-align: center;
}

.data-table tbody tr:nth-child(even) {
  background-color: #939191;
}
